.articleContainer {
  display: flex;
  justify-content: space-between;
}

.articleName {
  font-size: 1.75rem;
  margin: 0;
}

.articleInfo p {
  margin: 0;
  margin-top: 10px;
}

.articlePrice {
  color: #c65d7b;
  font-size: 1.25rem;
  font-weight: 800;
}

.articleCta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}