.cartItemData {
  display: flex;
  align-items: center;
}

.amount {
  margin-left: 20px;
  background-color: #f6e7d8;
  border-radius: 5px;
  color: black;
  padding: 1px 5px;
}

.cartContainer,
.operations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 75px;
}

.operator {
  background-color: #f68989;
  border-radius: 5px;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin: 0;
  font-size: 1.75rem;
  border-style: none;
  color: #f6e7d8;
}
